@import url('variables.less');

 * {
     padding: 0;
     margin: 0;
     box-sizing: border-box;
     font-family: sans-serif;
 }

 .img-position {
     position: absolute;
     top: 0;
     left: 0;
     padding: 15px;

     & img {
         display: block;
         margin-bottom: 10px;
     }
 }

 .header-text {
     display: flex;
     justify-content: start;
     align-items: center;
     margin: 20px 0;
     font-size: 24px;
     font-weight: 700;
 }

 .bg-black {
     background-color: @bg-primary;
 }

 @import url('common/container.less');
 
 @import url('main/advertisement.less');

 @import url('main/topbar.less');

 @import url('main/header.less');

 @import url('main/navbar.less');

 @import url('brand-slider.less');

 @import url('top-nav.less');

 @import url('slider.less');

 @import url('products/category-container.less');

 @import url('banner.less');

 @import url('banner-double.less');
 
 @import url('main/footer.less');

 @import url('breadcrumbs.less');

 @import url('top-search.less');

 @import url('sort-container.less');

 @import url('products/product-container.less');

 @import url('products/recommended-container.less');
 
 @import url('products/look-container.less');
 
 @import url('products/simple-product.less');