.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 25px 0;
}
.header .search {
  display: flex;
  align-items: center;
  position: relative;
}
.header .search .search__input {
  width: 438px;
  height: 49px;
  padding: 18px 28px;
  border-radius: 10px;
  border: none;
  outline: none;
  background-color: #F3F3F3;
  padding-right: 60px;
  transition: 0.3s;
}
.header .search .search__input[placeholder] {
  font-size: 13px;
  font-weight: 400;
}
.header .search .search__input:focus {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}
.header .search .search__icon {
  position: absolute;
  cursor: pointer;
  right: 5%;
}
.header .userplace {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10%;
}
.header .userplace .userplace__icon {
  width: 25px;
  margin-right: 32px;
}
