.bag-product-container {
  display: flex;
}
.bag-product-container .bag-product-left {
  width: 70%;
}
.bag-product-container .bag-product-left .shopping-free-container {
  display: block;
  padding: 20px;
  margin-bottom: 10px;
  width: 100%;
}
.bag-product-container .bag-product-left .shopping-free-container .shopping-free-card {
  background-color: #fff;
  border: 1px solid #eee;
  padding: 20px;
  margin-bottom: 5px;
}
.bag-product-container .bag-product-left .shopping-free-container .shopping-free-card .shopping-free-card-header {
  display: flex;
  justify-content: center;
  align-items: center;
}
.bag-product-container .bag-product-left .shopping-free-container .shopping-free-card .shopping-free-card-header .shopping-free-card-header__img {
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
}
.bag-product-container .bag-product-left .shopping-free-container .shopping-free-card .shopping-free-card-header .shopping-free-card-header__text {
  font-size: 20px;
  font-weight: 500;
}
.bag-product-container .bag-product-left .shopping-free-container .shopping-free-card .shopping-free-card-footer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.bag-product-container .bag-product-left .shopping-free-container .shopping-free-card .shopping-free-card-footer div {
  font-size: 18px;
}
.bag-product-container .bag-product-left .shopping-free-container .bag-product-header {
  display: flex;
  justify-content: start;
  align-items: center;
  border: 1px solid #E2E2E2;
  background-color: #fff;
  padding: 20px;
  margin-bottom: 5px;
}
.bag-product-container .bag-product-left .shopping-free-container .bag-product-header .bag-product-header__img {
  width: 30px;
  height: 30px;
}
.bag-product-container .bag-product-left .shopping-free-container .bag-product-header .bag-product-header__text {
  font-weight: 400;
  font-size: 18px;
  margin-left: 10px;
  font-weight: 700;
}
.bag-product-container .bag-product-left .shopping-free-container .bag-product-card {
  display: flex;
  align-items: center;
  padding: 20px;
  border: 1px solid #eee;
  background-color: #fff;
  margin-bottom: 5px;
}
.bag-product-container .bag-product-left .shopping-free-container .bag-product-card .bag-product-card-left {
  width: 30%;
  display: flex;
  align-items: center;
}
.bag-product-container .bag-product-left .shopping-free-container .bag-product-card .bag-product-card-left .checkbox {
  margin: 10px;
}
.bag-product-container .bag-product-left .shopping-free-container .bag-product-card .bag-product-card-left .bag-product-card-left__img {
  width: 150px;
  height: 200px;
}
.bag-product-container .bag-product-left .shopping-free-container .bag-product-card .bag-product-card-right {
  width: 80%;
}
.bag-product-container .bag-product-left .shopping-free-container .bag-product-card .bag-product-card-right .bag-product-card-right__text {
  font-size: 18px;
  font-weight: 400;
  color: black;
}
.bag-product-container .bag-product-left .shopping-free-container .bag-product-card .bag-product-card-right .product-size {
  display: flex;
  justify-content: start;
  font-weight: 700;
}
.bag-product-container .bag-product-left .shopping-free-container .bag-product-card .bag-product-card-right .product-size span {
  font-weight: 400;
  margin-left: 5px;
}
.bag-product-container .bag-product-left .shopping-free-container .bag-product-card .bag-product-card-right .product-old-price {
  display: flex;
  justify-content: end;
  text-decoration: line-through;
  color: #808080;
  font-size: 14px;
}
.bag-product-container .bag-product-left .shopping-free-container .bag-product-card .bag-product-card-right .bag-product-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.bag-product-container .bag-product-left .shopping-free-container .bag-product-card .bag-product-card-right .bag-product-flex .bag-product-flex-img {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.bag-product-container .bag-product-left .shopping-free-container .bag-product-card .bag-product-card-right .bag-product-flex .bag-product-flex-img span {
  margin-left: 10px;
}
.bag-product-container .bag-product-left .shopping-free-container .bag-product-card .bag-product-card-right .bag-product-flex .bag-product-flex-img img {
  width: 30px;
  height: 30px;
}
.bag-product-container .bag-product-left .shopping-free-container .bag-product-card .bag-product-card-right .bag-product-flex .bag-product-counter {
  border: 1px solid gray;
  border-radius: 25px;
  padding: 5px 15px;
}
.bag-product-container .bag-product-left .shopping-free-container .bag-product-card .bag-product-card-right .bag-product-flex .bag-product-counter span {
  border-right: 1px solid gray;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 10px;
}
.bag-product-container .bag-product-left .shopping-free-container .bag-product-card .bag-product-card-right .bag-product-flex .bag-product-counter span:last-child {
  border-right: none;
  padding-right: 0px;
}
.bag-product-container .bag-product-left .shopping-free-container .bag-product-card .bag-product-card-right .bag-product-flex .bag-product-flex__text--span {
  font-weight: 700;
}
.bag-product-container .bag-product-left .shopping-free-container .bag-product-card .bag-product-card-right .bag-product-flex .bag-product-flex__text--span span {
  border-radius: 50%;
  padding-left: 10px;
  padding-right: 10px;
  background: #000;
  margin-left: 10px;
}
.bag-product-container .bag-product-left .shopping-free-container .bag-product-card .bag-product-card-right .bag-product-flex .bag-product-flex__text--muted {
  color: #808080;
}
.bag-product-container .bag-product-left .shopping-free-container .bag-product-card .bag-product-card-right .bag-product-flex .bag-product-flex__text--bold {
  font-weight: 700;
}
.bag-product-container .bag-product-left .shopping-free-container .bag-product-card .bag-product-card-right .bag-product-flex .bag-product-flex__img {
  width: 30px;
  height: 30px;
}
.bag-product-container .bag-product-right {
  width: 20%;
  margin-left: 10px;
  margin-top: 20px;
}
.bag-product-container .bag-product-right .bag-product-right-container {
  display: block;
  width: 100%;
  border: 1px solid #eee;
  background-color: #fff;
  margin-bottom: 10px;
  padding: 10px;
}
.bag-product-container .bag-product-right .bag-product-right-container .bag-product-right-container__text {
  font-size: 16px;
  font-weight: 300;
  padding: 15px 0px;
}
.bag-product-container .bag-product-right .bag-product-right-container .bag-product-right-container__text--bold {
  font-weight: 700;
}
.bag-product-container .bag-product-right .bag-product-right-container .bag-product-right-container__btn {
  background: #000;
  padding: 10px;
  display: block;
  text-align: center;
  font-size: 12px;
  color: #fff;
  margin-top: 30px;
}
