.basket-product-container {
  display: flex;
}
.basket-product-container .basket-product-left {
  width: 70%;
}
.basket-product-container .basket-product-left .basket-product-left-container {
  border: 1px solid #eee;
  background-color: #fff;
  padding: 15px 50px;
  margin-top: 20px;
  height: 900px;
}
.basket-product-container .basket-product-left .basket-product-left-container .basket-product-left-container__header {
  font-weight: 700;
  font-size: 18px;
  margin: 40px 0px 20px 0px;
}
.basket-product-container .basket-product-left .basket-product-left-container .basket-product-left-container__btn {
  display: inline-block;
  font-size: 18px;
  font-weight: 400;
  padding: 5px 15px;
  margin-top: 15px;
  margin-bottom: 60px;
  background-color: #dadada;
  text-decoration: none;
  color: #606060;
}
.basket-product-container .basket-product-left .basket-product-left-container .basket-product-left-container__btn-save {
  display: block;
  font-size: 18px;
  font-weight: 700;
  padding: 15px 85px;
  background-color: #222222;
  text-decoration: none;
  color: #fff;
}
.basket-product-container .basket-product-left .basket-product-left-container .basket-product-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.basket-product-container .basket-product-left .basket-product-left-container .basket-product-row .basket-product-card {
  background-color: #FBFBFB;
  border: 1px solid #eee;
  width: 100%;
  height: 77px;
  display: flex;
  align-items: center;
  padding: 30px 50px;
}
.basket-product-container .basket-product-left .basket-product-left-container .basket-product-row .basket-product-card:first-child {
  margin-right: 10px;
}
.basket-product-container .basket-product-left .basket-product-left-container .basket-product-row .basket-product-card .basket-product-card__img {
  width: 39px;
  margin-left: 150px;
}
.basket-product-container .basket-product-left .basket-product-left-container .basket-product-row .basket-product-card .basket-product-card__imgg {
  width: 30px;
  margin-left: 150px;
}
.basket-product-container .basket-product-left .basket-product-left-container .form-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}
.basket-product-container .basket-product-left .basket-product-left-container .form-flex .form-prepend {
  display: flex;
  align-items: center;
  position: relative;
  margin-right: -1px;
  border: 1px solid #4A4A4A;
  height: 60px;
  padding: 0 15px;
  margin-bottom: 25px;
}
.basket-product-container .basket-product-left .basket-product-left-container .form-flex .form-prepend span {
  color: #B6B5B5;
  font-size: 14px;
}
.basket-product-container .basket-product-left .basket-product-left-container .form-flex .form-flex__input {
  width: 100%;
  height: 60px;
  margin-bottom: 25px;
  padding: 25px 20px;
  outline: none;
  border: 1px solid #4A4A4A;
}
.basket-product-container .basket-product-left .basket-product-left-container .form-flex .form-flex__input:last-child {
  margin-left: 10px;
}
.basket-product-container .basket-product-left .basket-product-left-container .form-block {
  display: block;
  justify-content: center;
  margin-bottom: 30px;
}
.basket-product-container .basket-product-left .basket-product-left-container .form-block .form-block__input {
  width: 100%;
  height: 60px;
  margin-bottom: 25px;
  padding: 25px 20px;
  outline: none;
  border: 1px solid #4A4A4A;
}
.basket-product-container .basket-product-left .basket-product-left-container .form-select {
  width: 100%;
  height: 60px;
  margin-bottom: 25px;
  padding: 0px 20px;
  outline: none;
  border: 1px solid #4A4A4A;
}
.basket-product-container .basket-product-left .basket-product-left-container .basket-product-column {
  display: flex;
  flex-direction: column;
}
.basket-product-container .basket-product-left .basket-product-left-container .basket-product-column .basket-product-card {
  background-color: #FBFBFB;
  border: 1px solid #eee;
  width: 100%;
  height: 77px;
  display: flex;
  align-items: center;
  padding: 30px 50px;
}
.basket-product-container .basket-product-left .basket-product-left-container .basket-product-column .basket-product-card:last-child {
  margin-top: 10px ;
}
.basket-product-container .basket-product-left .basket-product-left-container .basket-product-column .basket-product-card .basket-product-card__text {
  margin-left: 5px;
}
.basket-product-container .basket-product-right {
  width: 20%;
  margin-left: 10px;
  margin-top: 20px;
}
.basket-product-container .basket-product-right .basket-product-right-container {
  display: block;
  width: 100%;
  border: 1px solid #eee;
  background-color: #fff;
  margin-bottom: 10px;
  padding: 10px;
}
.basket-product-container .basket-product-right .basket-product-right-container .basket-product-right-container__text {
  font-size: 16px;
  font-weight: 300;
  padding: 15px 0px;
}
.basket-product-container .basket-product-right .basket-product-right-container .basket-product-right-container__text--bold {
  font-weight: 700;
}
.basket-product-container .basket-product-right .basket-product-right-container .basket-product-right-container__btn {
  background: #000;
  padding: 10px;
  display: block;
  text-align: center;
  font-size: 12px;
  color: #fff;
  margin-top: 30px;
}
