.brand-slider {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #FCFCFC;
  margin: 25px 0;
}
.brand-slider .brand-card {
  text-align: center;
}
.brand-slider .brand-card .brand-card__img {
  width: 64px;
  height: 64px;
  padding: 2px;
  border: transparent;
  border-radius: 50px;
  background-image: linear-gradient(white, white), linear-gradient(209.43deg, #9E2692 12.36%, #FAA958 89.4%);
  background-origin: border-box;
  background-clip: content-box, border-box;
}
.brand-slider .brand-card .brand-card__text {
  margin-top: 10px;
  font-size: 11px;
  font-weight: 400;
  cursor: pointer;
}
.brand-slider .brand-card .brand-card__text:hover {
  color: red;
  transition: 500ms;
}
