@font-face {
  font-family: roboto;
  src: url('../../font/Roboto/Roboto-Regular.ttf');
}
.container {
  margin: 0 auto;
  width: 1200px;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: roboto;
}
.basket-container {
  display: none;
  position: absolute;
  background-color: #fff;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  height: auto;
  width: 423px;
  right: 0;
  border-radius: 0 0 6px 6px;
  z-index: 1;
}
.basket-container .basket-container-center {
  padding: 25px 20px;
  width: 100%;
  box-sizing: border-box;
}
.basket-container .basket-container-center .basket-container-row {
  display: flex;
  justify-content: space-between;
}
.basket-container .basket-container-center .basket-container-row img {
  width: 100px;
  height: 140px;
  margin: 0px 10px;
}
.basket-container .basket-container-center .basket-container-row .basket-right-container {
  display: block;
}
.basket-container .basket-container-center .basket-container-row .basket-right-container .basket-right-container__text {
  font-size: 16px;
  font-weight: 400;
  color: #000;
  margin-bottom: 15px;
}
.basket-container .basket-container-center .basket-container-row .basket-right-container .basket-right-container__text--muted {
  color: #808080;
}
.basket-container .basket-container-center .basket-container-row .basket-right-container .basket-right-container__price {
  font-size: 18px;
  font-weight: 700;
  color: #000;
  margin-bottom: 15px;
}
.basket-container .basket-container-center .basket-container-row .basket-right-container .basket-right-container__icon {
  width: 20px;
  height: 20px;
}
.basket-container .basket-container-center .basket-container-footer {
  display: block;
  width: 100%;
  border-top: 1px solid #F0F0F0;
  padding-top: 20px;
  margin-top: 20px;
}
.basket-container .basket-container-center .basket-container-footer .basket-container-footer__text {
  font-size: 18px;
  font-weight: 400;
  color: #000;
  text-align: right;
}
.basket-container .basket-container-center .basket-container-footer .basket-container-footer__text span {
  color: red;
  font-weight: 700;
}
.basket-container .basket-container-center .basket-container-footer .basket-container-footer__view-bag {
  background-color: #000;
  display: block;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  padding: 15px;
  margin-top: 10px;
  color: #fff;
}
.advertisement-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
  height: 50px;
  width: 100%;
  text-decoration: none;
}
.advertisement-container__text {
  font-size: 24px;
  font-weight: 700;
  color: #fff;
  margin-right: 14px;
}
.advertisement-container__number {
  font-size: 36px;
  font-weight: 700;
  color: #fff;
}
.topbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0px 0px 10px 0px;
  padding-top: 10px;
}
.topbar .lang {
  margin-right: 30px;
}
.topbar .lang .lang__icon {
  margin-right: 10px;
  width: 16px;
  height: auto;
}
.topbar .lang .lang__seperator {
  margin: 0 5px;
  text-decoration: none;
  color: #333;
}
.topbar .lang .lang__text {
  text-decoration: none;
  color: #ccc;
  font-weight: 400;
  font-size: 14px;
}
.topbar .lang .lang__text--active {
  color: #333;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 25px 0;
}
.search {
  display: flex;
  align-items: center;
  position: relative;
}
.search .search__input {
  width: 438px;
  height: 49px;
  padding: 18px 28px;
  border-radius: 10px;
  border: none;
  outline: none;
  background-color: #F3F3F3;
  padding-right: 60px;
  transition: 0.3s;
}
.search .search__input[placeholder] {
  font-size: 13px;
  font-weight: 400;
}
.search .search__input:focus {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}
.search .search__icon {
  position: absolute;
  cursor: pointer;
  right: 5%;
}
.userplace {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10%;
}
.userplace .userplace__icon {
  width: 25px;
  margin-right: 32px;
}
.userplace-card:hover .basket-container {
  display: block;
}
.navbar {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  position: relative;
  margin: 0 auto;
}
.navbar .navbar-nav {
  list-style: none;
  display: flex;
  width: 100%;
}
.navbar .navbar-nav .nav-item {
  flex-shrink: 0;
  flex-grow: 1;
}
.navbar .navbar-nav .nav-item .nav-link {
  font-size: 14px;
  line-height: 34px;
  display: block;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  box-sizing: border-box;
  color: #000;
  letter-spacing: 0.18px;
}
.navbar .navbar-nav .nav-item .nav-link:hover:not(.active) {
  font-weight: 600;
}
.navbar .navbar-nav .nav-item .nav-link:hover {
  box-shadow: inset 0 -2px 0 0 #000;
}
.navbar .navbar-nav .nav-item .nav-link--active {
  font-weight: 600;
  box-shadow: inset 0 -2px 0 0 #000;
}
.navbar .navbar-nav .nav-item:hover .nav-dropdown {
  display: block;
}
.nav-dropdown {
  display: none;
  position: absolute;
  background-color: #fff;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  padding: 12px 16px;
  height: auto;
  width: 100%;
  left: 0;
  border-radius: 0 0 6px 6px;
  z-index: 1;
  margin-top: 1px;
}
.nav-dropdown .nav-dropdown-center {
  padding: 25px;
  width: 100%;
  box-sizing: border-box;
}
.nav-dropdown .nav-dropdown-center .nav-dropdown-row {
  display: flex;
  justify-content: space-between;
  height: auto;
}
.nav-dropdown .nav-dropdown-center .nav-dropdown-row .nav-dropdown-column {
  width: auto;
  height: auto;
  float: left;
  padding: 0 25px 0 1px;
  box-sizing: border-box;
}
.nav-dropdown .nav-dropdown-center .nav-dropdown-row .nav-dropdown-column .nav-dropdown-box {
  margin-bottom: 10px;
}
.nav-dropdown .nav-dropdown-center .nav-dropdown-row .nav-dropdown-column .nav-dropdown-box .nav-dropdown-box__link {
  font-size: 15px;
  color: #333;
  text-decoration: none;
  font-weight: 600;
}
.nav-dropdown .nav-dropdown-center .nav-dropdown-row .nav-dropdown-column .nav-dropdown-box .nav-dropdown-box__link:hover {
  text-decoration: underline;
}
.nav-dropdown .nav-dropdown-center .nav-dropdown-row .nav-dropdown-column .nav-dropdown-box ul {
  list-style: none;
  margin-top: 10px;
}
.nav-dropdown .nav-dropdown-center .nav-dropdown-row .nav-dropdown-column .nav-dropdown-box ul li {
  padding-bottom: 4px;
}
.nav-dropdown .nav-dropdown-center .nav-dropdown-row .nav-dropdown-column .nav-dropdown-box ul li a {
  font-size: 13px;
  color: #666;
  text-decoration: none;
}
.nav-dropdown .nav-dropdown-center .nav-dropdown-row .nav-dropdown-column .nav-dropdown-box ul li a:hover {
  text-decoration: underline;
}
.brand-slider {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #FCFCFC;
  margin: 25px 0;
}
.brand-slider .brand-card {
  text-align: center;
}
.brand-slider .brand-card .brand-card__img {
  width: 64px;
  height: 64px;
  padding: 2px;
  border: transparent;
  border-radius: 50px;
  background-image: linear-gradient(white, white), linear-gradient(209.43deg, #9E2692 12.36%, #FAA958 89.4%);
  background-origin: border-box;
  background-clip: content-box, border-box;
}
.brand-slider .brand-card .brand-card__text {
  margin-top: 10px;
  font-size: 11px;
  font-weight: 400;
  cursor: pointer;
}
.brand-slider .brand-card .brand-card__text:hover {
  color: red;
  transition: 500ms;
}
.top-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
}
.top-nav .top-nav__btn {
  padding: 10px 30px;
  height: 36px;
  text-align: center;
  border-radius: 40px;
  font-size: 18px;
  font-weight: 700;
}
.top-nav .top-nav__btn--bg-yellow {
  background-color: #F8C96F;
  color: #fff;
}
.top-nav .top-nav__btn--bg-yellow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: 300ms;
  cursor: pointer;
}
.top-nav .top-nav__btn--bg-red {
  background-color: #f86f6f;
  color: #fff;
}
.top-nav .top-nav__btn--bg-red:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: 300ms;
  cursor: pointer;
}
.top-nav .top-nav__btn--bg-blue {
  background-color: #9DCAF3;
  color: #fff;
}
.top-nav .top-nav__btn--bg-blue:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: 300ms;
  cursor: pointer;
}
.top-nav .top-nav__btn--bg-green {
  background-color: #86f86f;
  color: #fff;
}
.top-nav .top-nav__btn--bg-green:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: 300ms;
  cursor: pointer;
}
.top-nav .top-nav__btn--bg-img {
  background-image: url('../img/bg/1.jpg');
  color: #000;
}
.top-nav .top-nav__btn--bg-img:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: 300ms;
  cursor: pointer;
}
.top-nav .top-nav__btn--bg-black {
  background-color: #000;
  color: #fff;
}
.top-nav .top-nav__btn--bg-black:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: 300ms;
  cursor: pointer;
}
.slider {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px 0;
}
.slider .slider__img {
  width: 100%;
  height: auto;
}
.category-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
}
.category-container .category-container__header {
  display: block;
  text-align: center;
  width: 100%;
  font-size: 24px;
  font-weight: 700;
  margin: 30px 0;
}
.category-container .category-card {
  display: flex;
  flex: 0 0 18%;
  justify-content: center;
  align-items: center;
  margin: 10px 10px;
  background-color: #E0E0E0;
  height: 95px;
  width: 250px;
}
.category-container .category-card .category-card__img {
  margin-right: 20px;
}
.category-container .category-card .category-card__text {
  font-size: 18px;
}
.img-position {
  position: absolute;
  top: 0;
  left: 0;
  padding: 15px;
}
.img-position img {
  display: block;
  margin-bottom: 10px;
}
.background {
  background-color: black;
}
.product-href {
  text-decoration: none;
  color: black;
}
.d-flex {
  display: flex;
  justify-content: space-between;
}
.justify-content-center {
  justify-content: center;
  align-items: center;
}
.d-block {
  display: block !important;
}
.header-text {
  display: flex;
  justify-content: start;
  align-items: center;
  margin: 20px 0;
  font-size: 24px;
  font-weight: 700;
}
.header-text--center {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 0;
  font-size: 26px;
  font-weight: 700;
}
.point {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 5px 0px;
}
.point .point__stars {
  width: 60px;
  height: auto;
}
.point .point__star-percent {
  font-size: 14px;
  font-weight: 700;
  color: #EEA734;
  padding: 0 5px;
}
.point .point__star-number {
  font-size: 12px;
  font-weight: 400;
  color: black;
}
.auth-submit-btn {
  width: 400px;
  display: block;
  font-size: 18px;
  font-weight: 700;
  padding: 15px 0px;
  padding-left: 170px;
  background-color: #222222;
  text-decoration: none;
  color: #fff;
  margin-top: 15px;
}
.input-prepend__pass {
  display: flex;
  align-items: center;
  position: relative;
  margin-right: -1px;
  border: 1px solid #4A4A4A;
  height: 60px;
  padding: 0 15px;
  border-right: none;
}
.input-prepend__pass img {
  width: 20px;
  height: auto;
}
.w-400 {
  width: 400px;
}
.text-center {
  align-items: center!important;
}
.banner {
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
  margin: 20px 0;
}
.banner .banner__img {
  width: 100%;
  height: auto;
}
.banner-double {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0;
}
.banner-double .banner-double__img {
  margin-right: 50px;
  width: 100%;
  height: auto;
}
.banner-double .banner-double__img:last-child {
  margin-right: 0;
}
.footer {
  background-color: black;
  color: white;
  padding: 20px 0;
  margin-top: 100px;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  flex-wrap: nowrap;
}
.footer .footer-card {
  color: white;
}
.footer .footer-card .footer-card__title {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 20px;
  letter-spacing: 2px;
}
.footer .footer-card .footer-card__link {
  text-decoration: none;
  color: white;
  display: block;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 400;
}
.footer .footer-card .footer-card__icon {
  width: 20px;
  margin-right: 5px;
}
.footer-bottom {
  color: #fff;
  display: flex;
  justify-content: center;
  padding: 20px 0;
}
.footer-bottom .footer-bottom__text {
  text-align: center;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 2px;
}
.breadcrumbs {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 20px 0;
}
.breadcrumbs .breadcrumbs__link {
  text-decoration: none;
  color: #4A4A4A;
  font-size: 13px;
  font-weight: 400;
}
.breadcrumbs span {
  padding-left: 8px;
  padding-right: 8px;
  font-size: 13px;
  font-weight: 400;
}
.top-search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 35px;
  background-color: #C4C4C436;
}
.top-search .top-search__btn {
  padding: 5px 15px;
  border: 1px solid #515151;
  background-color: #fff;
  color: black;
  font-size: 10px;
  font-weight: 400;
  text-decoration: none;
}
.sort-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0px;
}
.sort-container .sort-container__name {
  color: black;
  font-size: 14px;
  font-weight: 400;
}
.sort-container .sort-container__name span {
  color: #515151;
  font-size: 12px;
}
.sort-container .sort-select {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.sort-container .sort-select .sort-select__text {
  font-size: 14px;
  font-weight: 400;
  margin-right: 20px;
}
.sort-container .sort-select .sort-select__select {
  outline: none;
  border: 1px solid #e5e5e5;
  padding: 5px 15px;
  font-size: 12px;
  font-weight: 400;
  background-color: #e5e5e5;
  color: black;
}
.product-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
}
.product-container .product-card {
  display: block;
  border: 1px solid #C4C4C4;
  padding: 5px;
  width: 234px;
  height: auto;
  margin-right: 5px;
}
.product-container .product-card .product-card__top-btn {
  display: block;
  text-align: center;
  background-color: #000;
  text-decoration: none;
  color: #fff;
  padding: 5px 0;
  margin: 5px 40px;
  font-size: 14px;
}
.product-container .product-card .product-card-img {
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.product-container .product-card .product-card-img .product-card-img__img {
  width: 220px;
  height: auto;
}
.product-container .product-card .product-card-body {
  padding: 5px 20px;
}
.product-container .product-card .product-card-body .product-card-body__header {
  font-size: 13px;
  font-weight: 400;
  color: #000;
}
.product-container .product-card .product-card-body .product-card-body__header--bold {
  font-size: 13px;
  font-weight: 700;
  color: #000;
}
.product-container .product-card .product-card-body .product-card-evaluation {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 30px;
}
.product-container .product-card .product-card-body .product-card-evaluation .product-card-evaluation__stars {
  width: 80px;
  height: auto;
}
.product-container .product-card .product-card-body .product-card-evaluation .product-card-evaluation__star-percent {
  font-size: 14px;
  font-weight: 700;
  color: #EEA734;
  padding: 0 5px;
}
.product-container .product-card .product-card-body .product-card-evaluation .product-card-evaluation__star-number {
  font-size: 12px;
  font-weight: 400;
  color: #000;
}
.product-container .product-card .product-card-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 10px;
}
.product-container .product-card .product-card-footer .product-discount {
  display: flex;
  align-items: center;
  background-color: #000;
  text-decoration: none;
  width: 100px;
  padding: 5px 8px;
}
.product-container .product-card .product-card-footer .product-discount .product-discount__icon {
  width: 30%;
  height: auto;
  margin-right: 10px;
}
.product-container .product-card .product-card-footer .product-discount .product-discount__number {
  color: #fff;
  font-size: 14px;
  font-weight: 700;
}
.product-container .product-card .product-card-footer .product-card-footer__price {
  font-size: 14px;
  font-weight: 700;
}
.recommended-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  -margin: 20px 0;
}
.recommended-container .recommended-card {
  display: block;
  width: 234px;
  position: relative;
  margin-right: 5px;
}
.recommended-container .recommended-card .recommended-card__img {
  width: 100%;
  height: auto;
}
.recommended-container .recommended-card .recommended-card__header {
  text-align: center;
  font-size: 22px;
  font-weight: 300;
  margin-bottom: 10px;
}
.recommended-container .recommended-card .recommended-card-footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.recommended-container .recommended-card .recommended-card-footer .recommended-card-footer__text--bold {
  font-weight: 700;
  font-size: 16px;
}
.recommended-container .recommended-card .recommended-card-footer .recommended-card-footer__text--line-through {
  font-weight: 400;
  font-size: 10px;
  text-decoration: line-through;
  color: #A0A0A0;
}
.recommended-container .recommended-card .recommended-card-footer .product-discount {
  display: flex;
  align-items: center;
  background-color: #000;
  text-decoration: none;
  width: 30%;
  padding: 5px 10px;
}
.recommended-container .recommended-card .recommended-card-footer .product-discount .product-discount__icon {
  width: 22%;
  height: auto;
  margin-right: 7px;
}
.recommended-container .recommended-card .recommended-card-footer .product-discount .product-discount__number {
  color: #fff;
  font-size: 8px;
  font-weight: 700;
}
.look-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
}
.look-container .look-card {
  display: block;
  width: 234px;
  margin-right: 5px;
  position: relative;
}
.look-container .look-card .look-card__img {
  width: 100%;
  height: auto;
}
.look-container .look-card .look-card-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 20px;
}
.look-container .look-card .look-card-footer .look-card-footer__header {
  font-size: 18px;
  font-weight: 400;
  color: #060606;
  margin-bottom: 10px;
  text-align: center;
}
.look-container .look-card .look-card-footer .look-card-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.look-container .look-card .look-card-footer .look-card-flex .product-discount {
  display: flex;
  align-items: center;
  background-color: #000;
  text-decoration: none;
  width: 80px;
  padding: 5px 8px;
}
.look-container .look-card .look-card-footer .look-card-flex .product-discount .product-discount__icon {
  width: 30%;
  height: auto;
  margin-right: 6px;
}
.look-container .look-card .look-card-footer .look-card-flex .product-discount .product-discount__number {
  color: #fff;
  font-size: 14px;
  font-weight: 300;
}
.look-container .look-card .look-card-footer .look-card-flex .look-card-flex__price {
  font-size: 18px;
  font-weight: 700;
}
.simple-product {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 20px 0;
}
.simple-product .simple-card {
  width: 234px;
  margin-right: 5px;
  position: relative;
}
.simple-product .simple-card .simple-card__img {
  width: 100%;
  height: auto;
}
.simple-product .simple-card .card-img-position {
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 15px;
  padding-left: 5px;
}
.simple-product .simple-card .card-img-position__text {
  font-size: 14px;
  font-weight: 300;
  background-color: #000;
  padding: 5px 20px;
  color: #fff;
}
.simple-product .simple-card .simple-card__header {
  font-size: 14px;
}
.simple-product .simple-card .simple-card__price {
  font-size: 24px;
  font-weight: 700;
}
.simple-product .simple-card .simple-card__price--line-through {
  text-decoration: line-through;
  font-size: 14px;
  color: #A0A0A0;
  font-weight: 300;
}
.search-app {
  display: flex;
  margin-top: 15px;
}
.search-app .filter-container {
  width: 240px;
}
.search-app .filter-container .filter-section {
  display: flex;
  flex-direction: column;
  width: 185px;
  position: relative;
  margin-top: 15px;
}
.search-app .filter-container .filter-section .filter-section__header {
  font-size: 14px;
  font-weight: 600;
  color: #333;
  margin-top: 10px;
}
.search-app .filter-container .filter-section .filter-section-category {
  margin-bottom: 10px;
}
.search-app .filter-container .filter-section .filter-section-category .filter-section-category__link {
  display: block;
  text-decoration: none;
  font-size: 13px;
  color: #1b1b1b;
  margin: 10px 0px;
}
.search-app .filter-container .filter-section .filter-section__btn {
  text-decoration: none;
  height: 20px;
  font-size: 13px;
  font-weight: 600;
  color: #f27a1a;
  cursor: pointer;
}
.search-app .filter-container .filter-section .filter-section__input {
  height: 25px;
  padding: 0 10px;
  font-size: 12px;
  color: #4b4b4b;
  background-color: #fafafa;
  border: 1px solid #e2e2e2;
  border-radius: 5px;
  margin: 10px 0px;
}
.search-app .filter-container .filter-section .filters {
  max-height: 185px;
  position: relative;
  margin-bottom: 15px;
}
.search-app .filter-container .filter-section .filters .filters__link {
  display: flex;
  align-items: center;
  padding: 1px;
  margin: 5px 0;
  text-decoration: none;
  color: #1b1b1b;
}
.search-app .filter-container .filter-section .filters .filters__link .checkbox {
  min-width: 15px;
  min-height: 15px;
  border-radius: 2px;
  position: relative;
  border: 1px solid #d6d6d6;
  background-color: #fff;
}
.search-app .filter-container .filter-section .filters .filters__text {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin-left: 6px;
}
.search-app .filter-product {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
}
.search-app .filter-product .product-card {
  width: 230px;
  position: relative;
  margin-bottom: 30px;
}
.search-app .filter-product .product-card .product-card__img {
  width: 100%;
  height: auto;
}
.search-app .filter-product .product-card .product-card-body {
  padding: 5px;
}
.search-app .filter-product .product-card .product-card-body .product-card-body__header {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 5px;
  padding: 0px 10px;
  text-align: center;
}
.search-app .filter-product .product-card .product-card-body .product-card-price {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 0px 10px;
}
.search-app .filter-product .product-card .product-card-body .product-card-price .product-card-price__new {
  font-size: 14px;
  font-weight: 700;
  margin-right: 5px;
}
.search-app .filter-product .product-card .product-card-body .product-card-price .product-card-price__old {
  font-size: 9px;
  font-weight: 300;
  text-decoration: line-through;
  margin-right: 5px;
}
.search-app .filter-product .product-card .product-card-body .product-card-price .point {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0px;
}
.search-app .filter-product .product-card .product-card-body .product-card-price .point .point__stars {
  width: 60px;
  height: auto;
}
.search-app .filter-product .product-card .product-card-body .product-card-price .point .point__star-percent {
  font-size: 14px;
  font-weight: 700;
  color: #EEA734;
  padding: 0 5px;
}
.search-app .filter-product .product-card .product-card-body .product-card-price .point .point__star-number {
  font-size: 12px;
  font-weight: 400;
  color: black;
}
.detail-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 25px 0px;
}
.detail-container .left-container {
  display: flex;
  justify-content: space-between;
  width: 600px;
}
.detail-container .left-container .product-slide {
  width: 100px;
}
.detail-container .left-container .product-slide .product-slide__img {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}
.detail-container .left-container .product-slide .product-single-slide__img {
  width: 100%;
  height: auto;
}
.detail-container .right-container {
  width: 500px;
}
.detail-container .right-container .right-container__text {
  font-weight: 700;
  margin-top: 20px;
  font-size: 20px;
}
.detail-container .right-container .right-container__text span {
  font-weight: 400;
}
.detail-container .right-container .d-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px 0px;
}
.detail-container .right-container .d-flex .text-muted {
  color: #787878;
  margin: 10px 0px ;
}
.detail-container .right-container .d-flex .point {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0px;
}
.detail-container .right-container .d-flex .point .point__stars {
  width: 60px;
  height: auto;
}
.detail-container .right-container .d-flex .point .point__star-percent {
  font-size: 14px;
  font-weight: 700;
  color: #EEA734;
  padding: 0 5px;
}
.detail-container .right-container .d-flex .point .point__star-number {
  font-size: 12px;
  font-weight: 400;
  color: black;
}
.detail-container .right-container .right-container-icon {
  font-weight: 700;
  margin-top: 15px;
  display: flex;
  align-items: center;
}
.detail-container .right-container .right-container-icon img {
  border: 1px solid black;
  border-radius: 50%;
  width: 40px;
  padding: 15px 8px;
  margin-left: 20px;
}
.detail-container .right-container .right-container-price {
  font-size: 36px;
  font-weight: 700;
  margin-top: 20px;
}
.detail-container .right-container .right-container-color {
  font-weight: 700;
  margin-top: 20px;
}
.detail-container .right-container .right-container-color span {
  font-weight: 500;
}
.detail-container .right-container .right-container-images {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-top: 20px;
}
.detail-container .right-container .right-container-images .right-container-images--first {
  width: 110px;
  margin-right: 20px;
  border: 3px solid black;
}
.detail-container .right-container .right-container-images img {
  width: 110px;
  margin-right: 20px;
}
.detail-container .right-container .right-container-size {
  display: flex;
  align-items: center;
  margin-top: 20px;
}
.detail-container .right-container .right-container-size div {
  text-align: center;
  border: 1px solid #ccc;
  min-width: 30px;
  max-width: 60px;
  padding: 5px 10px;
  margin-right: 15px;
  color: #7D7D7D;
  cursor: pointer;
}
.detail-container .right-container .right-container-size .right-container-size--active {
  color: #000;
  border: 1px solid #000;
}
.detail-container .right-container .right-container-add {
  display: flex;
  align-items: center;
  height: 50px;
  margin-top: 40px;
}
.detail-container .right-container .right-container-add .right-container-addbag {
  background-color: #222222;
  color: #fff;
  padding: 20px 100px;
  font-size: 20px;
  font-weight: 700;
}
.detail-container .right-container .right-container-add .right-container-favorite {
  cursor: pointer;
}
.detail-container .right-container .right-container-add .right-container-favorite img {
  width: 70px;
  height: auto;
  padding: 20px;
  margin-left: 20px;
  border: solid 1px #000;
  background-color: #fff;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.detail-container .right-container .right-container-delivery {
  display: flex;
  flex-direction: column;
  background-color: #E8E8E8;
  padding: 10px 14px;
  width: 65%;
  margin-top: 25px;
  margin-bottom: 20px;
}
.detail-container .right-container .right-container-delivery .delivery-card {
  display: flex;
}
.detail-container .right-container .right-container-delivery .delivery-card .delivery-card__img {
  width: 50px;
}
.detail-container .right-container .right-container-delivery .delivery-card .delivery-card-body {
  display: block;
  margin-left: 10px;
}
.detail-container .right-container .right-container-delivery .delivery-card .delivery-card-body .delivery-card__header {
  font-size: 12px;
  font-weight: 700;
  margin-bottom: 8px;
}
.detail-container .right-container .right-container-delivery .delivery-card .delivery-card-body .delivery-card__footer {
  font-size: 10px;
  margin-bottom: 8px;
}
.detail-container .similar-products {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.detail-container .similar-products .similar-card {
  width: 234px;
  margin-right: 5px;
}
.detail-container .similar-products .similar-card .similar-card__img {
  width: 100%;
  height: auto;
}
.custumer-review {
  padding: 20px 50px;
  background-color: #f3f3f3;
}
.custumer-review .custumer-review__text {
  margin: 8px 0px;
}
.bag-product-container {
  display: flex;
}
.bag-product-container .bag-product-left {
  width: 70%;
}
.bag-product-container .bag-product-left .shopping-free-container {
  display: block;
  padding: 20px;
  margin-bottom: 10px;
  width: 100%;
}
.bag-product-container .bag-product-left .shopping-free-container .shopping-free-card {
  background-color: #fff;
  border: 1px solid #eee;
  padding: 20px;
  margin-bottom: 5px;
}
.bag-product-container .bag-product-left .shopping-free-container .shopping-free-card .shopping-free-card-header {
  display: flex;
  justify-content: center;
  align-items: center;
}
.bag-product-container .bag-product-left .shopping-free-container .shopping-free-card .shopping-free-card-header .shopping-free-card-header__img {
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
}
.bag-product-container .bag-product-left .shopping-free-container .shopping-free-card .shopping-free-card-header .shopping-free-card-header__text {
  font-size: 20px;
  font-weight: 500;
}
.bag-product-container .bag-product-left .shopping-free-container .shopping-free-card .shopping-free-card-footer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.bag-product-container .bag-product-left .shopping-free-container .shopping-free-card .shopping-free-card-footer div {
  font-size: 18px;
}
.bag-product-container .bag-product-left .shopping-free-container .bag-product-header {
  display: flex;
  justify-content: start;
  align-items: center;
  border: 1px solid #E2E2E2;
  background-color: #fff;
  padding: 20px;
  margin-bottom: 5px;
}
.bag-product-container .bag-product-left .shopping-free-container .bag-product-header .bag-product-header__img {
  width: 30px;
  height: 30px;
}
.bag-product-container .bag-product-left .shopping-free-container .bag-product-header .bag-product-header__text {
  font-weight: 400;
  font-size: 18px;
  margin-left: 10px;
  font-weight: 700;
}
.bag-product-container .bag-product-left .shopping-free-container .bag-product-card {
  display: flex;
  align-items: center;
  padding: 20px;
  border: 1px solid #eee;
  background-color: #fff;
  margin-bottom: 5px;
}
.bag-product-container .bag-product-left .shopping-free-container .bag-product-card .bag-product-card-left {
  width: 30%;
  display: flex;
  align-items: center;
}
.bag-product-container .bag-product-left .shopping-free-container .bag-product-card .bag-product-card-left .checkbox {
  margin: 10px;
}
.bag-product-container .bag-product-left .shopping-free-container .bag-product-card .bag-product-card-left .bag-product-card-left__img {
  width: 150px;
  height: 200px;
}
.bag-product-container .bag-product-left .shopping-free-container .bag-product-card .bag-product-card-right {
  width: 80%;
}
.bag-product-container .bag-product-left .shopping-free-container .bag-product-card .bag-product-card-right .bag-product-card-right__text {
  font-size: 18px;
  font-weight: 400;
  color: black;
}
.bag-product-container .bag-product-left .shopping-free-container .bag-product-card .bag-product-card-right .product-size {
  display: flex;
  justify-content: start;
  font-weight: 700;
}
.bag-product-container .bag-product-left .shopping-free-container .bag-product-card .bag-product-card-right .product-size span {
  font-weight: 400;
  margin-left: 5px;
}
.bag-product-container .bag-product-left .shopping-free-container .bag-product-card .bag-product-card-right .product-old-price {
  display: flex;
  justify-content: end;
  text-decoration: line-through;
  color: #808080;
  font-size: 14px;
}
.bag-product-container .bag-product-left .shopping-free-container .bag-product-card .bag-product-card-right .bag-product-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.bag-product-container .bag-product-left .shopping-free-container .bag-product-card .bag-product-card-right .bag-product-flex .bag-product-flex-img {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.bag-product-container .bag-product-left .shopping-free-container .bag-product-card .bag-product-card-right .bag-product-flex .bag-product-flex-img span {
  margin-left: 10px;
}
.bag-product-container .bag-product-left .shopping-free-container .bag-product-card .bag-product-card-right .bag-product-flex .bag-product-flex-img img {
  width: 30px;
  height: 30px;
}
.bag-product-container .bag-product-left .shopping-free-container .bag-product-card .bag-product-card-right .bag-product-flex .bag-product-counter {
  border: 1px solid gray;
  border-radius: 25px;
  padding: 5px 15px;
}
.bag-product-container .bag-product-left .shopping-free-container .bag-product-card .bag-product-card-right .bag-product-flex .bag-product-counter span {
  border-right: 1px solid gray;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 10px;
}
.bag-product-container .bag-product-left .shopping-free-container .bag-product-card .bag-product-card-right .bag-product-flex .bag-product-counter span:last-child {
  border-right: none;
  padding-right: 0px;
}
.bag-product-container .bag-product-left .shopping-free-container .bag-product-card .bag-product-card-right .bag-product-flex .bag-product-flex__text--span {
  font-weight: 700;
}
.bag-product-container .bag-product-left .shopping-free-container .bag-product-card .bag-product-card-right .bag-product-flex .bag-product-flex__text--span span {
  border-radius: 50%;
  padding-left: 10px;
  padding-right: 10px;
  background: #000;
  margin-left: 10px;
}
.bag-product-container .bag-product-left .shopping-free-container .bag-product-card .bag-product-card-right .bag-product-flex .bag-product-flex__text--muted {
  color: #808080;
}
.bag-product-container .bag-product-left .shopping-free-container .bag-product-card .bag-product-card-right .bag-product-flex .bag-product-flex__text--bold {
  font-weight: 700;
}
.bag-product-container .bag-product-left .shopping-free-container .bag-product-card .bag-product-card-right .bag-product-flex .bag-product-flex__img {
  width: 30px;
  height: 30px;
}
.bag-product-container .bag-product-right {
  width: 20%;
  margin-left: 10px;
  margin-top: 20px;
}
.bag-product-container .bag-product-right .bag-product-right-container {
  display: block;
  width: 100%;
  border: 1px solid #eee;
  background-color: #fff;
  margin-bottom: 10px;
  padding: 10px;
}
.bag-product-container .bag-product-right .bag-product-right-container .bag-product-right-container__text {
  font-size: 16px;
  font-weight: 300;
  padding: 15px 0px;
}
.bag-product-container .bag-product-right .bag-product-right-container .bag-product-right-container__text--bold {
  font-weight: 700;
}
.bag-product-container .bag-product-right .bag-product-right-container .bag-product-right-container__btn {
  background: #000;
  padding: 10px;
  display: block;
  text-align: center;
  font-size: 12px;
  color: #fff;
  margin-top: 30px;
}
.basket-product-container {
  display: flex;
}
.basket-product-container .basket-product-left {
  width: 70%;
}
.basket-product-container .basket-product-left .basket-product-left-container {
  border: 1px solid #eee;
  background-color: #fff;
  padding: 15px 50px;
  margin-top: 20px;
  height: 900px;
}
.basket-product-container .basket-product-left .basket-product-left-container .basket-product-left-container__header {
  font-weight: 700;
  font-size: 18px;
  margin: 40px 0px 20px 0px;
}
.basket-product-container .basket-product-left .basket-product-left-container .basket-product-left-container__btn {
  display: inline-block;
  font-size: 18px;
  font-weight: 400;
  padding: 5px 15px;
  margin-top: 15px;
  margin-bottom: 60px;
  background-color: #dadada;
  text-decoration: none;
  color: #606060;
}
.basket-product-container .basket-product-left .basket-product-left-container .basket-product-left-container__btn-save {
  display: block;
  font-size: 18px;
  font-weight: 700;
  padding: 15px 85px;
  background-color: #222222;
  text-decoration: none;
  color: #fff;
}
.basket-product-container .basket-product-left .basket-product-left-container .basket-product-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.basket-product-container .basket-product-left .basket-product-left-container .basket-product-row .basket-product-card {
  background-color: #FBFBFB;
  border: 1px solid #E2E2E2;
  width: 100%;
  height: 77px;
  display: flex;
  align-items: center;
  padding: 30px 50px;
}
.basket-product-container .basket-product-left .basket-product-left-container .basket-product-row .basket-product-card .basket-product-card-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 70px;
}
.basket-product-container .basket-product-left .basket-product-left-container .basket-product-row .basket-product-card .basket-product-card-header .basket-product-card-header__text {
  font-weight: 700;
  font-size: 14px;
}
.basket-product-container .basket-product-left .basket-product-left-container .basket-product-row .basket-product-card .form-label {
  display: inline-block;
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  user-select: none;
}
.basket-product-container .basket-product-left .basket-product-left-container .basket-product-row .basket-product-card .form-label .form-label__input {
  opacity: 0;
  cursor: pointer;
}
.basket-product-container .basket-product-left .basket-product-left-container .basket-product-row .basket-product-card .form-label .form-label__input:checked ~ .form-label__checkmark-radio {
  background-color: #4A4A4A;
}
.basket-product-container .basket-product-left .basket-product-left-container .basket-product-row .basket-product-card .form-label .form-label__input:checked ~ .form-label__checkmark-radio:after {
  display: block;
}
.basket-product-container .basket-product-left .basket-product-left-container .basket-product-row .basket-product-card .form-label .form-label__checkmark-radio {
  position: absolute;
  top: 0;
  left: 0;
  height: 15px;
  width: 15px;
  background-color: #eee;
  border-radius: 50%;
}
.basket-product-container .basket-product-left .basket-product-left-container .basket-product-row .basket-product-card .form-label .form-label__checkmark-radio:after {
  content: "";
  position: absolute;
  display: none;
}
.basket-product-container .basket-product-left .basket-product-left-container .basket-product-row .basket-product-card .form-label .form-label__checkmark-radio:after {
  top: 5px;
  left: 5px;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: white;
}
.basket-product-container .basket-product-left .basket-product-left-container .basket-product-row .basket-product-card .form-label:hover input ~ .form-label__checkmark-radio {
  background-color: #ccc;
}
.basket-product-container .basket-product-left .basket-product-left-container .basket-product-row .basket-product-card:first-child {
  margin-right: 10px;
}
.basket-product-container .basket-product-left .basket-product-left-container .basket-product-row .basket-product-card .basket-product-card__img {
  width: 39px;
}
.basket-product-container .basket-product-left .basket-product-left-container .basket-product-row .basket-product-card .basket-product-card__imgg {
  width: 30px;
}
.basket-product-container .basket-product-left .basket-product-left-container .form-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}
.basket-product-container .basket-product-left .basket-product-left-container .form-flex .form-prepend {
  display: flex;
  align-items: center;
  position: relative;
  margin-right: -1px;
  border: 1px solid #000000;
  height: 60px;
  padding: 0 15px;
  margin-bottom: 25px;
}
.basket-product-container .basket-product-left .basket-product-left-container .form-flex .form-prepend span {
  color: #000000;
  font-weight: 700;
  font-size: 14px;
}
.basket-product-container .basket-product-left .basket-product-left-container .form-flex .form-flex__input {
  width: 100%;
  height: 60px;
  margin-bottom: 25px;
  padding: 25px 20px;
  outline: none;
  border: 1px solid #4A4A4A;
}
.basket-product-container .basket-product-left .basket-product-left-container .form-flex .form-flex__input:last-child {
  margin-left: 10px;
}
.basket-product-container .basket-product-left .basket-product-left-container .form-flex .form-flex__input--phone {
  width: 80%;
  height: 60px;
  margin-bottom: 25px;
  padding: 25px 20px;
  outline: none;
  border: 1px solid #4A4A4A;
}
.basket-product-container .basket-product-left .basket-product-left-container .form-flex .form-flex__input--phone:last-child {
  margin-left: 10px;
}
.basket-product-container .basket-product-left .basket-product-left-container .form-block {
  display: block;
  justify-content: center;
  margin-bottom: 30px;
}
.basket-product-container .basket-product-left .basket-product-left-container .form-block .form-label {
  display: inline-block;
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  user-select: none;
}
.basket-product-container .basket-product-left .basket-product-left-container .form-block .form-label .form-label__input {
  opacity: 0;
  cursor: pointer;
}
.basket-product-container .basket-product-left .basket-product-left-container .form-block .form-label .form-label__input:checked ~ .form-label__checkmark-checkbox {
  background-color: #4A4A4A;
}
.basket-product-container .basket-product-left .basket-product-left-container .form-block .form-label .form-label__input:checked ~ .form-label__checkmark-checkbox:after {
  display: block;
}
.basket-product-container .basket-product-left .basket-product-left-container .form-block .form-label .form-label__checkmark-checkbox {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eee;
}
.basket-product-container .basket-product-left .basket-product-left-container .form-block .form-label .form-label__checkmark-checkbox:after {
  content: "";
  position: absolute;
  display: none;
}
.basket-product-container .basket-product-left .basket-product-left-container .form-block .form-label .form-label__checkmark-checkbox:after {
  left: 6px;
  top: 3px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.basket-product-container .basket-product-left .basket-product-left-container .form-block .form-label:hover input ~ .form-label__checkmark-checkbox {
  background-color: #ccc;
}
.basket-product-container .basket-product-left .basket-product-left-container .form-block .form-block__input {
  width: 100%;
  height: 60px;
  margin-bottom: 25px;
  padding: 25px 20px;
  outline: none;
  border: 1px solid #4A4A4A;
}
.basket-product-container .basket-product-left .basket-product-left-container .form-select {
  width: 100%;
  height: 60px;
  margin-bottom: 25px;
  padding: 0px 20px;
  outline: none;
  border: 1px solid #4A4A4A;
}
.basket-product-container .basket-product-left .basket-product-left-container .basket-product-column {
  display: flex;
  flex-direction: column;
}
.basket-product-container .basket-product-left .basket-product-left-container .basket-product-column .basket-product-card {
  background-color: #FBFBFB;
  border: 1px solid #E2E2E2;
  width: 100%;
  height: 77px;
  display: flex;
  align-items: center;
  padding: 30px 50px;
}
.basket-product-container .basket-product-left .basket-product-left-container .basket-product-column .basket-product-card .basket-product-card-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.basket-product-container .basket-product-left .basket-product-left-container .basket-product-column .basket-product-card .basket-product-card-header .basket-product-card-header__text {
  font-size: 18px;
}
.basket-product-container .basket-product-left .basket-product-left-container .basket-product-column .basket-product-card .form-label {
  display: inline-block;
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  user-select: none;
}
.basket-product-container .basket-product-left .basket-product-left-container .basket-product-column .basket-product-card .form-label .form-label__input {
  opacity: 0;
  cursor: pointer;
}
.basket-product-container .basket-product-left .basket-product-left-container .basket-product-column .basket-product-card .form-label .form-label__input:checked ~ .form-label__checkmark-radio {
  background-color: #4A4A4A;
}
.basket-product-container .basket-product-left .basket-product-left-container .basket-product-column .basket-product-card .form-label .form-label__input:checked ~ .form-label__checkmark-radio:after {
  display: block;
}
.basket-product-container .basket-product-left .basket-product-left-container .basket-product-column .basket-product-card .form-label .form-label__checkmark-radio {
  position: absolute;
  top: 0;
  left: 0;
  height: 15px;
  width: 15px;
  background-color: #eee;
  border-radius: 50%;
}
.basket-product-container .basket-product-left .basket-product-left-container .basket-product-column .basket-product-card .form-label .form-label__checkmark-radio:after {
  content: "";
  position: absolute;
  display: none;
}
.basket-product-container .basket-product-left .basket-product-left-container .basket-product-column .basket-product-card .form-label .form-label__checkmark-radio:after {
  top: 5px;
  left: 5px;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: white;
}
.basket-product-container .basket-product-left .basket-product-left-container .basket-product-column .basket-product-card .form-label:hover input ~ .form-label__checkmark-radio {
  background-color: #ccc;
}
.basket-product-container .basket-product-left .basket-product-left-container .basket-product-column .basket-product-card:first-child {
  margin-right: 10px;
}
.basket-product-container .basket-product-left .basket-product-left-container .basket-product-column .basket-product-card:last-child {
  margin-top: 10px ;
}
.basket-product-container .basket-product-left .basket-product-left-container .basket-product-column .basket-product-card .basket-product-card__text {
  margin-left: 5px;
}
.basket-product-container .basket-product-right {
  width: 20%;
  margin-left: 10px;
  margin-top: 20px;
}
.basket-product-container .basket-product-right .basket-product-right-container {
  display: block;
  width: 100%;
  border: 1px solid #eee;
  background-color: #fff;
  margin-bottom: 10px;
  padding: 10px;
}
.basket-product-container .basket-product-right .basket-product-right-container .basket-product-right-container__text {
  font-size: 16px;
  font-weight: 300;
  padding: 15px 0px;
}
.basket-product-container .basket-product-right .basket-product-right-container .basket-product-right-container__text--bold {
  font-weight: 700;
}
.basket-product-container .basket-product-right .basket-product-right-container .basket-product-right-container__btn {
  background: #000;
  padding: 10px;
  display: block;
  text-align: center;
  font-size: 12px;
  color: #fff;
  margin-top: 30px;
}
.register-container {
  display: flex;
  justify-content: center;
}
.register-container .register-container-center {
  width: 70%;
}
.register-container .register-container-center .register-container-center-form {
  border: 1px solid #eee;
  background-color: #fff;
  padding: 15px 50px;
  margin-top: 20px;
  height: 900px;
}
.register-container .register-container-center .register-container-center-form .register-container-center-form__header {
  display: flex;
  justify-content: center;
  font-weight: 700;
  font-size: 18px;
  margin-top: 100px;
  margin-bottom: 50px;
}
.register-container .register-container-center .register-container-center-form .register-container-center-form__header--verify {
  display: flex;
  justify-content: center;
  font-weight: 700;
  font-size: 18px;
  margin-top: 100px;
  margin-bottom: 10px;
}
.register-container .register-container-center .register-container-center-form .register-form-forgot--remember {
  display: flex;
  justify-content: center;
  font-size: 14px;
  font-weight: 400;
  margin-top: 25px;
}
.register-container .register-container-center .register-container-center-form .register-form-forgot--remember span {
  text-decoration: underline;
  font-weight: 700;
  margin-left: 5px;
}
.register-container .register-container-center .register-container-center-form .register-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0px 75px;
}
.register-container .register-container-center .register-container-center-form .register-form .register-form-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}
.register-container .register-container-center .register-container-center-form .register-form .register-form-btn .register-form-btn__save {
  display: block;
  font-size: 18px;
  font-weight: 700;
  padding: 15px 85px;
  background-color: #222222;
  text-decoration: none;
  color: #fff;
  margin-top: 15px;
}
.register-container .register-container-center .register-container-center-form .register-form .register-form-forgot {
  justify-content: end!important;
  margin-left: 230px;
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;
}
.register-container .register-container-center .register-container-center-form .register-form .register-form__input {
  width: 70%;
  height: 60px;
  margin-bottom: 25px;
  padding: 25px 20px;
  outline: none;
  border: 1px solid #4A4A4A;
}
.register-container .register-container-center .register-container-center-form .register-form .register-form__input--pass {
  width: 360px;
  height: 60px;
  margin-bottom: 25px;
  padding: 25px 20px;
  outline: none;
  border: 1px solid #4A4A4A;
  border-left: none;
}
.register-container .register-container-center .register-container-center-form .register-form .form-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.register-container .register-container-center .register-container-center-form .register-form .form-flex .form-prepend {
  display: flex;
  align-items: center;
  position: relative;
  margin-right: -1px;
  border: 1px solid #000000;
  height: 60px;
  padding: 0 15px;
  margin-bottom: 25px;
}
.register-container .register-container-center .register-container-center-form .register-form .form-flex .form-prepend span {
  color: #000000;
  font-weight: 700;
  font-size: 14px;
}
.register-container .register-container-center .register-container-center-form .register-form .form-flex .register-form__input {
  width: 346px;
  height: 60px;
  margin-bottom: 25px;
  padding: 25px 20px;
  outline: none;
  border: 1px solid #4A4A4A;
}
.register-container .register-container-center .register-container-center-form .register-form .form-label {
  display: inline-block;
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  user-select: none;
  font-size: 14px;
  width: 70%;
}
.register-container .register-container-center .register-container-center-form .register-form .form-label .form-label__input {
  opacity: 0;
  cursor: pointer;
}
.register-container .register-container-center .register-container-center-form .register-form .form-label .form-label__input:checked ~ .form-label__checkmark-checkbox {
  background-color: #4A4A4A;
}
.register-container .register-container-center .register-container-center-form .register-form .form-label .form-label__input:checked ~ .form-label__checkmark-checkbox:after {
  display: block;
}
.register-container .register-container-center .register-container-center-form .register-form .form-label .form-label__checkmark-checkbox {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eee;
}
.register-container .register-container-center .register-container-center-form .register-form .form-label .form-label__checkmark-checkbox:after {
  content: "";
  position: absolute;
  display: none;
}
.register-container .register-container-center .register-container-center-form .register-form .form-label .form-label__checkmark-checkbox:after {
  left: 6px;
  top: 3px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.register-container .register-container-center .register-container-center-form .register-form .form-label:hover input ~ .form-label__checkmark-checkbox {
  background-color: #ccc;
}
.register-container .register-container-center .register-container-center-form .verification-form {
  display: flex;
  justify-content: center;
  align-items: center;
}
.register-container .register-container-center .register-container-center-form .verification-form .verification-form__sqr {
  width: 70px;
  height: 70px;
  border: 1px solid #4A4A4A;
  padding: 25px 20px;
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 20px;
  margin-right: 20px;
  outline: none;
}
.register-container .register-container-center .register-container-center-form .register-container-center-form__text {
  width: 400px;
  text-align: center;
  margin-left: 170px;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 25px;
}
.register-container .register-container-center .register-container-center-form .register-container-center-form__text span {
  font-weight: 700;
}
.register-container .register-container-center .register-container-center-form .register-container-center-form__text--muted {
  display: flex;
  justify-content: center;
  color: #8D8D8D;
  font-size: 14px;
  margin-bottom: 25px;
}
.register-container .register-container-center .register-container-center-form .register-container-center-form-resend {
  width: 400px;
  margin-left: 170px;
  margin-top: 25px;
}
.register-container .register-container-center .register-container-center-form .register-container-center-form-resend .cancel-resend {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.register-container .register-container-center .register-container-center-form .register-container-center-form-resend .cancel-resend .cancel-resend__text {
  font-size: 14px;
  font-weight: 400;
  color: #000;
  text-decoration: underline;
}
